<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">src/geekbrains/dubovik/java/lesson6/src/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </Console>
        <File name="consoleFile" fileName="${basePath}/consoleFile.log" append="true">
            <BurstFilter level="FATAL" rate="16" maxBurst="100"/>
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} [%t] %C (%F:%L) - %m%n"/>
        </File>
        <File name="jsonFile" fileName="${basePath}/jsonFile.log" append="false">
            <BurstFilter level="FATAL" rate="16" maxBurst="100"/>
            <JsonLayout/>
        </File>
    </Appenders>
    <Loggers>
        <Root level = "trace">
            <AppenderRef ref="Console" />
            <AppenderRef ref="consoleFile" level="error"/>
            <AppenderRef ref="jsonFile" level="error"/>
        </Root>
    </Loggers>
</Configuration>